.profile {
    grid-area: profilePage;
    display: grid;
    background-color: #ffffff;
    grid-template-rows: 15vh 20vh 50vh;
    grid-row-gap: 1vh;
    grid-template-areas: "profileHeader" "aboutMe" "allPosts";
}
